.footer-icons {
    grid-area: footer;
    text-align: center;
    background-color: darkcyan;
}


.footer-icons img {
    width: 60px;
    height: 60px;

}

.footer-icons a {

    padding: 0 15px;
    font-size: 16px;
}