.app-wrapper {

    grid-template-areas: "header  " " content  " "footer  ";

    display: grid;
    grid-template-rows:2fr 8fr 2fr;
    grid-template-columns: 100%;
    grid-gap: 10px;


    height: 100vh;
    margin: 0 auto;


}


/*.app-wrapper-content {*/

/*    !*position: fixed;*!*/
/*    !*left:0;*!*/
/*    !*right:0;*!*/
/*    !*top:0;*!*/

/*!*background-color: coral;*!*/
/*  grid-area: content;*/


/*}*/


